<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905884766398-e21461pjs8ovoump3r9erkh97snsstss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905884766398-e21461pjs8ovoump3r9erkh97snsstss</string>
	<key>API_KEY</key>
	<string>AIzaSyBY793WooH4ZEul_-w6PeRBYawsR5u05kA</string>
	<key>GCM_SENDER_ID</key>
	<string>905884766398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Malouf.BlitzSportsTrivia</string>
	<key>PROJECT_ID</key>
	<string>blitzsports-88f15</string>
	<key>STORAGE_BUCKET</key>
	<string>blitzsports-88f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905884766398:ios:c4f2eb67a5a324f0368eef</string>
	<key>DATABASE_URL</key>
	<string>https://blitzsports-88f15.firebaseio.com</string>
</dict>
</plist>